@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap');


:root {
  --background: #ffffff;
  --foreground: #171717;
}

body.dark {
  --background: #171717; /* Dark background */
  --foreground: #ffffff; /* Light text color */
}




body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Poppins', sans-serif; /* Updated to use Google Font */
}
